{% extends 'base.html' %}
{% load static %}
{% block title %}Crear credenciales{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/login/create_credentials.css' %}">
<div class="flex justify-center">
    <form method="POST" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md w-full max-w-xl"
        onsubmit="validateForm(event)">
        {% csrf_token %}
        <h2 class="text-2xl font-bold mb-4 text-center">Editar Credenciales</h2>

        <!-- Input para imagen de perfil -->
        <div class="flex justify-center mb-4">
            <label for="profile_picture" class="profile-container">
                <input type="file" id="profile_picture" name="profile_image" class="absolute inset-0 opacity-0 cursor-pointer rounded-full">
                <!-- Mostrar la imagen de perfil del usuario si existe -->
                    <img id="profile_preview" src="{% if profile_image %}../../media/{{ profile_image }}{% else %}{% static 'img/default_profile.png' %}{% endif %}" alt="Imagen de perfil">
            </label>
        </div>
        
        

        <div class="relative">
            <label for="name-with-label" class="text-gray-700">
                Nombre de Usuario
                <span class="text-red-500 required-dot">*</span>
            </label>
            <input type="text" id="name-with-label"
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                name="username" placeholder="Ingresa tu nombre" required/>
        </div>

        <div class="relative">
            <label for="with-indications" class="text-gray-700">
                Contraseña
                <span class="text-red-500 required-dot">*</span>                               
            </label>
            <div class="relative w-full">
                <input type="password" id="password" name="password" class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent pr-10" placeholder="Ingresa tu contraseña" onkeyup="validatePassword()" required minlength="8"/>
                <button type="button" id="togglePassword" class="absolute inset-y-0 right-0 flex items-center pr-3">
                    <img src="{% static 'icons/eye.svg' %}" alt="Mostrar contraseña" class="">
                </button>
            </div>

            <div class="w-full h-1 bg-gray-200 mt-3 rounded" id="strength-bar">
                <div id="strength-fill" class="h-full w-0 bg-green-500 rounded"></div>
            </div>
            <div id="password-strength" class="mt-2 text-gray-500">
            </div>
        </div>
        

        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded mt-4 hover:bg-blue-600">Guardar Cambios</button>
    </form>
</div>
<script src="{% static 'js/login/validate_credential.js' %}"></script>
<script src="{% static 'js/login/view_image.js' %}"></script>
{% endblock %}
